@model IEnumerable<doan_qldkonline.Models.dangkykhambenh>

@{
    /**/

    ViewBag.Title = "dsdangky_online";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}

<h3 style="background-color:forestgreen;border-radius:10px;color:white;">Bệnh nhân đăng ký trực tuyến \</h3>
<hr />
<a href="@Url.Action("XuatFileExcel","QL_hosobenhnhan")" style="background-color:darkblue;color:white;float:right;border-radius:5px;">
    XUẤT FILE EXCEL
</a>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@using (Html.BeginForm("timkiem", "QL_hosobenhnhan", FormMethod.Get))
{
    @Html.TextBox("timkiem", "", htmlAttributes: new { @placeholder = "nhập số điện thoại..." })
    <button style="border-radius:5px;background-color:lavender">
        <img src="~/hinh/tim-kiem.PNG" width="20px" />
    </button>

}
<hr />

<table class="table table-striped table-bordered">
    <tr style="background-color:green;color:white">
        <th>
            @Html.DisplayNameFor(model => model.id_benhnhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hovaten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namsinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sodienthoai)
        </th>
        <th style="width:150px;">
            Chức năng
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@Html.DisplayFor(modelItem => item.id_benhnhan)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hovaten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.namsinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodienthoai)
            </td>
            <td>
                <button style="width:150px;color:goldenrod"> @Html.ActionLink("XEM THÔNG TIN", "Details", new { id = item.id_benhnhan }) </button> <br />
                <button style="width:150px;color:darkblue"> @Html.ActionLink("CHỈNH SỬA", "Edit", new { id = item.id_benhnhan })</button>  <br />
                <button style="width:150px;color:red"> @Html.ActionLink("LOẠI BỎ", "Delete", new { id = item.id_benhnhan })</button>
            </td>
        </tr>
    }
</table>

