@model doan_qldkonline.Models.bacsi

@{
    ViewBag.Title = "chitiet";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}

<h2>chitiet</h2>

<div>
    <h4>bacsi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hovaten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hovaten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chucvu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chucvu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bophan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bophan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capbac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capbac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hosobenhnhan.cmnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hosobenhnhan.cmnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_bacsi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
