@model IEnumerable<doan_qldkonline.Models.bacsi>

@{
    ViewBag.Title = "quanlybacsi";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}

<h2>quanlybacsi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hovaten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chucvu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bophan)
        </th>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hovaten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chucvu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bophan)
        </td>
        <td>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_bacsi }) |
            @Html.ActionLink("chitiet", "chitiet", new { id=item.id_bacsi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_bacsi })
        </td>
    </tr>
}

</table>
<style type="text/css">
    table {
        width: 50%;
    }

        table tr {
            counter-increment: row-num;
        }

            table tr td:first-child::before {
                content: counter(row-num);
            }
</style>