@model IEnumerable<doan_qldkonline.Models.bacsi>

@{
    ViewBag.Title = "quanlybacsi";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}

<h3 style="background-color:lightslategray;color:white;">Bác sĩ \</h3>

@using (Html.BeginForm("timkiem", "QL_hosobenhnhan", FormMethod.Get))
{
    @Html.TextBox("timkiem", "", htmlAttributes: new { @placeholder = "nhập số điện thoại..." })
    <button style="border-radius:5px;background-color:lavender">
        <img src="~/hinh/tim-kiem.PNG" width="20px" />
    </button>

}
<hr />
<button style="background-color:forestgreen;border:dotted;float:right ">
    <p style="color:white;font-size:20px;width:160px;height:20px;">
        @Html.ActionLink("TẠO HỒ SƠ", "Create")
    </p>
</button>

    <table class="table table-striped table-bordered" >
        <tr style="background-color:lightblue">
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hovaten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hinhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chucvu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bophan)
            </th>
            @*<th>
                    KHOA
                </th>*@
            <th>CHỨC NĂNG</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>

                <td>
                    @Html.DisplayFor(modelItem => item.hovaten)
                </td>
                <td>
                    <img src="@Url.Content(item.hinhanh)" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chucvu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bophan)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.id_khoa)

                    </td>*@
                <td style="width:100px;">
                    <span style="border:groove;background-color:darkgoldenrod;color:aliceblue;width:100px;text-align:center">@Html.ActionLink("XEM CHI TIẾT", "Details", new { id = item.id_bacsi })</span> <br />
                    <span style="border:groove;background-color:lightslategray;color:aliceblue;width:100px;text-align:center"> @Html.ActionLink("CHỈNH SỬA", "Edit", new { id = item.id_bacsi })</span> <br />
                    <span style="border:groove;background-color:darkred;color:aliceblue;width:100px;text-align:center">@Html.ActionLink("XÓA BỎ", "Delete", new { id = item.id_bacsi })</span>
                </td>
            </tr>
        }

    </table>
    <style type="text/css">
        table {
            width: 50%;
        }

            table tr {
                counter-increment: row-num;
            }

                table tr td:first-child::before {
                    content: counter(row-num);
                }
    </style>
