@using doan_qldkonline.Models
@model List<bacsi>
@{
    ViewBag.Title = "bacsy";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}
<div style="background-color:aliceblue;margin-top:-50px;margin-bottom:40px;border-radius:10px;height:30px;">
    <center> <h3 style="color:forestgreen;font-style:unset">ĐỘI NGŨ Y BÁC SỸ TẠI BỆNH VIỆN </h3></center>

</div>
<div class="row text-center @*slideanim*@">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="thumbnail" style="background-color:azure;">
                <p class="card">
                    <img src=" @Url.Content("~/hinh_bacsi/" + item.hinhanh)">
                </p>
                <p class="card-text">
                    BS:<b style="color:maroon"> @Html.DisplayFor(modelItem => item.hovaten)</b><br />
                    @Html.DisplayFor(modelItem => item.namsinh)<br />
                    @Html.DisplayFor(modelItem => item.chucvu)
                </p>             
                <div style="background-color:forestgreen; height:40px;padding:10px;">
                    <a href="@Url.Action("chitietbacsi",new { @id_bs = item.id_bacsi})" style="color:white;text-decoration:none">Thông tin chi tiết ></a>

                </div>

            </div>
           
        </div>
       
    }
</div>
