@model doan_qldkonline.Models.bacsi

@{
    ViewBag.Title = "chitietbacsi";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}

<div class="container" style="margin-top: 30px;">
    <div class="profile-head">
        <!--col-md-4 col-sm-4 col-xs-12 close-->
        <div class="col-md- col-sm-4 col-xs-12">
            <img src="http://www.newlifefamilychiropractic.net/wp-content/uploads/2014/07/300x300.gif" class="img-responsive" />
            <h6>
                Bác sĩ: @Html.DisplayFor(model => model.hovaten) <br />
                <b>@Html.DisplayFor(model => model.khoa.Ten_khoa)</b>

            </h6>
            
        </div>
        <!--col-md-4 col-sm-4 col-xs-12 close-->
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div style="float:right">
                <button><h3><a href="@Url.Action("Dangki","Taikhoan_user")" style="text-decoration:none">ĐẶT LỊCH KHÁM</a></h3></button>
                <hr />

            </div>
            <h5></h5>
            <p>
                Chức vụ: @Html.DisplayFor(model => model.chucvu)
            </p>
            <ul>
                <li>
                    <span class="glyphicon glyphicon-briefcase"></span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-phone"></span>
                    @Html.DisplayFor(model => model.sdt)
                </li>
                <li>
                    <span class="glyphicon glyphicon-map-marker"></span>@Html.DisplayFor(model => model.diachi)
                </li>

                @*<li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">vijayan@rsicms.com</a></li>*@
                @*<li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail"></a></li>*@
            </ul>

        </div>
    </div>
    <!--profile-head close-->
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
     


        <dt>
            @Html.DisplayNameFor(model => model.bophan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bophan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namsinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namsinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cmnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmnd)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.quatrinhcongtac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quatrinhcongtac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kinhnghiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kinhnghiem)

        </dd>

  




  

    </dl>
</div>
<link href="~/Content/bacsi_chitiet.css" rel="stylesheet" />
