@model doan_qldkonline.Models.bacsi

@{
    ViewBag.Title = "chitietbacsi";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}
<div class="container" style="margin-top: 30px;">
    <div class="profile-head" style="background-color:#E0F8EC;border:groove;">
        <!--col-md-4 col-sm-4 col-xs-12 close-->
        <div class="col-md- col-sm-4 col-xs-12">
            <img src="@Url.Content(Model.hinhanh)" width="250" height="250" multiple style="margin-left:80px;" />
            @*<img src="@Url.Content("~/hinh_bacsi/"+ Model.hinhanh)" style="margin-left:80px;">*@
            <h6 style="color:black;">
                Bác sĩ: @Html.DisplayFor(model => model.hovaten) <br />
                @*<b>@Html.DisplayFor(model => model.khoa.Ten_khoa)</b>*@
            </h6>
        </div>
        
        <!--col-md-4 col-sm-4 col-xs-12 close-->
        <div class="col-md-5 col-sm-5 col-xs-12" style="color:black;">
            <div style="float:right;margin-top:60px;">
                <hr />
            </div>
            <h5></h5>
            <p style="color:black;">
                Chức danh: @Html.DisplayFor(model => model.chucvu)
            </p>
            <p style="color:black;">
                Năm sinh: @Html.DisplayFor(model => model.namsinh)
            </p>

            <ul>
                <li style="color:black;">
                    Bộ phận: @Html.DisplayFor(model => model.bophan)

                </li>
                <li style="color:black;">
                   SĐT: @Html.DisplayFor(model => model.sdt)
                </li>

                <li style="color:black;">
                    Địa chỉ: @Html.DisplayFor(model => model.diachi)
                </li>   
                <li style="color:black;">
                  Các ngày làm việc: @Html.DisplayFor(model => model.ngaylamviec)
                </li>

                <li>
                    <h3><a href="@Url.Action("login","Taikhoan_user")" style="text-decoration:none;background-color:forestgreen;">TÔI MUỐN KHÁM BỆNH</a></h3>
                </li>
                @*<li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">vijayan@rsicms.com</a></li>*@
                @*<li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail"></a></li>*@
            </ul>

        </div>
    </div>
    <!--profile-head close-->
</div>


<div>
    <h3>
        THÔNG TIN CHI TIẾT:
    </h3>
    <br />
    <dl style="margin-left:150px;">
        <dt style="color:forestgreen">
            KINH NGHIỆM:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kinhnghiem)
        </dd>
        <br />
        <dt style="color:forestgreen">
            QUÁ TRÌNH CÔNG TÁC:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quatrinhcongtac)
        </dd>

    </dl>
    @Html.Action("goikham_partial", "Trangchu")

</div>
<link href="~/Content/bacsi_chitiet.css" rel="stylesheet" />
