@model IEnumerable<doan_qldkonline.Models.tintuc>

@{
    ViewBag.Title = "danhsachbaiviet";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}

<h2 style="text-align:center">QUẢN LÝ BÀI VIẾT</h2>
<button style="background-color:forestgreen;border:dotted; ">
    <p style="color:white;font-size:20px;width:100px;height:20px;">
        @Html.ActionLink("THÊM MỚI", "Create")
    </p>
</button>
<hr />
<table class="table table-striped table-bordered">
    <tr style="background-color: aliceblue">
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenbaiviet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhanh)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenbaiviet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaydang)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.hinhanh)*@
                <img src="@Url.Content(item.hinhanh)" width="100" height="100" />
            </td>


            <td style="width:150px;">
                <span style="border:groove;background-color:darkgoldenrod;color:aliceblue;width:100px;text-align:center">@Html.ActionLink("XEM CHI TIẾT", "Details", new { id = item.id_tintuc })</span> <br />
                <span style="border:groove;background-color:lightslategray;color:aliceblue;width:100px;text-align:center"> @Html.ActionLink("CHỈNH SỬA", "Edit", new { id = item.id_tintuc })</span> <br />
                <span style="border:groove;background-color:darkred;color:aliceblue;width:100px;text-align:center">@Html.ActionLink("XÓA BỎ", "Delete", new { id = item.id_tintuc })</span>
            </td>
        </tr>
    }

</table>
<style type="text/css">
    table {
        width: 50%;
    }

        table tr {
            counter-increment: row-num;
        }

            table tr td:first-child::before {
                content: counter(row-num);
            }
</style>