@model doan_qldkonline.Models.tintuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}


<h3 style="color:red">BẠN CHẮC CHẮN XÓA BÀI VIẾT NÀY ⛔</h3>
<div>
    <h4>tintuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenbaiviet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenbaiviet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            <img src="@Url.Content(Model.hinhanh)" width="250" height="250" multiple />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEOTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEOTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEOdescriptison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEOdescriptison)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
