@model doan_qldkonline.Models.datlichkham

@{
    ViewBag.Title = "datlichkham";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
    //var bacsi = Session["id_bacsi"] as doan_qldkonline.Models.bacsi;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ĐĂNG KÝ TÀI KHOẢN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <!-- STYLE CSS -->
</head>
<body>
    <section class="section">
        <!--Section heading-->
        
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 col-xl-12">
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {
                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success" style="background-color:lavender">
                            @ViewBag.Message
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm("DangKi", "Taikhoan_user", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h2 class="section-heading h1 pt-4">ĐĂNG KÝ TÀI KHOẢN</h2>
                        <!--Section description-->
                        <p class="section-description" style="color:darkorange">
                            Vui lòng điền đầy đủ thông tin vào form bên dưới
                        </p>
                        <hr />
                        <form style="font-display:swap;">
                            <!--Grid row-->
                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <label for="name" class="">Họ Và Tên *</label>
                                        @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "form-control" } })
                                        @*<input name="hotens" type="text" class="form-control" />*@
                                        @Html.ValidationMessageFor(model => model.hoten, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <label for="email" class="">Số Điện Thoại *</label>
                                        @*<input name="sodienthoais" type="text" class="form-control"/>*@
                                        @Html.EditorFor(model => model.sodienthoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.sodienthoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="md-form">
                                        <label for="subject" class="">Địa chỉ *</label>
                                        @*<input name="diachis" type="text" class="form-control" />*@
                                        @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="md-form">
                                        <label for="name" class="">Email *</label>
                                        @*<input name="emails" type="email" class="form-control" />*@
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form">

                                        <label for="email" class="">Mật Khẩu *</label>
                                        @*<input name="matkhaus" type="password" class="form-control" />*@
                                        @Html.EditorFor(model => model.matkhau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
           
                            <div>
                                <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd ' name='finish' value='ĐĂNG KÝ' style="margin-top:40px;padding:10px;font-size:15px;" />
                                <button class='btn btn-finish btn-fill btn-envelope btn-wd ' style="margin-top:40px;"><a href="@Url.Action("login","Taikhoan_user")" style="text-decoration:none;">Đăng nhập</a></button>
                            </div>
                           
                            <!--Grid row-->
                        </form>
                        <br />

                        if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger" style="width:400px;margin-left:100px;text-align:center">
                                @ViewBag.Message
                            </div>
                        }
                    }
                }



            </div>
          
            <div class="col-md-3 col-xl-3" >
                <ul class="contact-icons">
                    <li style="list-style: none;">
                        <img src="~/hinh/dangky.png" style="width:400px;margin-left:100px;"/>
                        @*<img src="~/hinh_tintuc/dangky_flaticon.jpg" >*@
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
    </section>
</body>
</html>
