@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="footer" >
        <div class="footer1" style="background-color:#0B243B">
            <div class="container-fluid">

                <div class="container ">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2 style="color:lightblue">KHU VỰC</h2><p>
                                <div class="myframegmap">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.7718406141535!2d106.6723973146618!3d10.980586758394972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12739baa5ed%3A0xf500a5c3425a73a3!2zxJDhuqFpIGjhu41jIFRo4bunIEThuqd1IE3hu5l0!5e0!3m2!1sfr!2s!4v1585999061224!5m2!1sfr!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </p><br>
                        </div>
                        <div class="col-sm-4">
                            <h2 style="color:lightblue">MENU</h2>
                            <p>
                      
                                <i class="fa fa-home"></i>  <a href="@Url.Action("Trangchu","Trangchu")">TRANG CHỦ</a><br>
                                <i class="fa fa-map-marker"></i>    <a href="@Url.Action("dichvu","Trangchu")""> GIỚI THIỆU</a><br>
                                <i class="fa fa-briefcase"></i>  <a href="@Url.Action("tintuc","Trangchu")">TIN TỨC</a><br>
                                <i class="fa fa-user-circle"></i>  <a href="@Url.Action("bacsy","Khoa")">BÁC SĨ</a><br>
                                <i class="fa fa-address-book"> </i> <a href="@Url.Action("goikham","Trangchu")">GÓI KHÁM SỨC KHỎE</a><br>


                            </p>

                        </div>
                        <div class="col-sm-4 ">
                            <h2 style="color:lightblue">LIÊN HỆ</h2>
                            <p>
                                <i class="fa fa-phone"></i>    <a href="tel:0966375505"> 0966375505</a><br>
                                <i class="fa fa-envelope"></i>    <a href="mailto:trantan598497@gmail.com">Trantan598497@gmail.com</a><br>
                                <i class="fa fa-map-marker"></i>   THU DAU MOT UNIVERCITY<br />
                                <i class="fa fa-lock"></i>  <a href="/ql_website/Login/Index">   ADMIN</a><br>

                            </p>

                            <br>
                        </div>
                    </div>
                    <div class="clear30"></div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/footer.css" rel="stylesheet" />

</body>
</html>
