@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/menu.css" rel="stylesheet" />
</head>
<body >
    @*<nav class="navbar navbar-inverse" style="font-family:Arial">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>*@      
        <!-- Collapsible content -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#0A0A2A;color:green">
        <form class="form-inline m-auto" style="font-size:20px;">
            <div style="float:left">
                <div style="font-size:13px; border:dashed; color:white; border-color:darkgoldenrod">
                    <img src="~/hinh/dien-thoai.png" width="20px"/>
                    Đường dây nóng: <span>0966 375 555</span>
                </div>
            </div>
          <a href="@Url.Action("login","Taikhoan_user")" style="background-color:chocolate;color:aliceblue;margin-right:40px;border-bottom-style:double;text-decoration:none;font-size:15px;">Đăng nhập</a>

        </form>
        <div class="container" >
            <div class="navbar-header">          
                <a class="navbar-brand" href="#">LOGO</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" >
                <ul class="nav navbar-nav" >
                    <li><a href="@Url.Action("Trangchu","Trangchu")" >Trang chủ</a></li>
                    <li><a href="@Url.Action("dichvu","Trangchu")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("tintuc","Trangchu")">Tin tức</a></li>
                    <li><a href="@Url.Action("bacsy","Khoa")">Bác sĩ</a></li>
                    <li><a href="@Url.Action("khoa","Khoa")">Chuyên khoa</a></li>
                    <li><a href="#contact">Liên hệ</a></li>
                    <li>
                        @*<div>
                            @using (Html.BeginForm("timkiem", "Khoa", FormMethod.Get))
                            {
                                @Html.TextBox("timkiem", "", htmlAttributes: new { @placeholder = "Chịu chứng của bạn..." })
                            }
                        </div>*@
                    </li>
                    @*<li class="article"> <a href="@Url.Action("login","Taikhoan_user")" title="Đăng nhập"><span>Login  <i class="fa fa-user-secret"></i></span></a></li>*@



                </ul>
                <ul class="nav navbar-nav navbar-right" style="float:right;font-size:17px;padding:10px;">
                    @using (Html.BeginForm("timkiem", "Khoa", FormMethod.Get))
                    {
                        @Html.TextBox("timkiem", "", htmlAttributes: new { @placeholder = "Triệu chứng của bạn..." })
                        <button style="border-radius:5px;background-color:lavender">
                            <img src="~/hinh/tim-kiem.PNG" width="20px"/>
                        </button>

                    }

                </ul>

            </div>
        </div>

    </nav>
    <link href="~/Content/search.css" rel="stylesheet" />
    <script src="~/Content/search.js"></script>
    <link href="~/Content/stype_trangchu.css" rel="stylesheet" />
</body>
</html>
