@model doan_qldkonline.Models.goi_kham_suc_khoe

@{
    ViewBag.Title = "goikham_chitiet";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}

<h2>goikham_chitiet</h2>
<div>
    <h4>goi_kham_suc_khoe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_goikham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_goikham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioithieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioithieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chitiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chitiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhanh)
        </dd>

    </dl>
</div>
@using (Html.BeginForm("themgiohang", "giohang", new { @i_gk = Model.id_goikham, strURL = Request.Url.ToString() }))
{
    <a href="@Url.Action("giohang","Giohang")"> <input type="submit" style="cursor:pointer;font-size:30px;background-color:orange;border-radius:5%;width:290px; height:50px;color:darkblue;" value=" MUA GÓI KHÁM" id="btngiohang"></a>
}