@using doan_qldkonline.Models
@model List<tintuc>
@{
    ViewBag.Title = "TRANG CHỦ";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <nav style="text-align:center">
            <div style="font-size:35px; color:midnightblue">
                <span class="glyphicon glyphicon-hand-down"> </span>

            </div>
            <h3 style="color:forestgreen"><b>LÝ DO CHỌN BỆNH VIỆN ABC</b></h3>
            <h4>Chúng tôi luôn đề cao chất lượng khám bệnh lên hàng đầu</h4>
        </nav>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-users" id="icone_grande"></i> <br>
                <h5 style="font-size:30px;">@ViewBag.tongSoBacSi</h5>
                <span class="texto_grande">ĐỘI NGŨ BÁC SỸ  </span>
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-user" id="icone_grande"></i> <br>
                <h5 style="font-size:30px;"> @ViewBag.tongSoDatLich</h5>
                <span class="texto_grande">BỆNH NHÂN KHÁM BỆNH </span>
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br>
                <h5 style="font-size:30px;">@ViewBag.tongSohoso</h5>
                <span class="texto_grande">HỒ SƠ ĐƯỢC TẠO</span>
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-warning" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-pied-piper-alt" id="icone_grande"></i> <br>
                <h5 style="font-size:30px;">@ViewBag.bnkhambenh</h5>
                <span class="texto_grande">BỆNH NHÂN ĐĂNG KÝ</span>
            </a>
        </div>
    }
</div>
<br />
<hr />
@Html.Action("gioithieu", "Trangchu")
<br />
@Html.Action("goikham_partial", "Trangchu")



@*
    <section id="home-banner">
        <div class="container-fluid">
            <div class="slider-wrap">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6 hidden-xs">
                                        <img src="~/Areas/ql_website/img/bacsi.png" class="img-responsive" style="background-color:lawngreen;border-radius:100%" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="text-wrap">
                                            <h2>VỀ CHÚNG TÔI</h2>
                                            <p>Chúng tôi cung cấp những dịch vụ tốt nhất<br />với phương châm chia sẻ giá trị tốt đẹp cho xã hội về <br />chăm sóc sức khỏe</p>
                                            <div class="button-wrap">
                                                <a href="" class="redamore btn">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Controls -->

                </div>
            </div>
        </div>
    </section>
*@

<!-- Container (About Section) -->


@Html.Action("tintucpartial", "Trangchu")<br />

<div class="container" style="height: 25rem;background-image: url('../../Areas/ql_website/img/bradcam2.png');background-position: center;background-size: cover;width: 100%;">
    <center>
        <h1 style="margin-top:100px;color:forestgreen;font-family:'UTM Americana'">
            <b>PHÒNG KHÁM BỆNH ABC</b>
        </h1>
        <h3 class="glyphicon glyphicon-phone">0966375505</h3><br />
        <div class="btn btn-primary">
            <a href="@Url.Action("dangkykhambenh","Trangchu")" style="color:aliceblue;text-decoration:none">
                ĐĂNG KÝ KHÁM BỆNH
            </a>
        </div>
    </center>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
